* {
    background-color: aliceblue;
}

h1 {
    color: blue;   
    padding: 10px;  
    text-align: center;
    background-color: lightblue;
}
h2 {
    border: 1px solid blue;
    background-color: grey;
}